discord.py
discord.py[voice]
gTTS~=2.5.1
pytubefix
python-dotenv~=1.0.1
beautifulsoup4~=4.12.3
speedtest-cli
fake-useragent
asyncio~=3.4.3
discord~=2.3.2
requests~=2.31.0
bs4~=0.0.2
urllib3~=2.2.1
soundcloud-v2