discord.py
discord.py[voice]
gTTS
pytubefix
python-dotenv
beautifulsoup4
speedtest-cli
fake-useragent
asyncio
discord
requests
bs4
urllib3
soundcloud-v2
spotipy
selenium
webdriver-manager
selenium-wire
blinker==1.7.0
setuptools